config SHIELD_K33B_DACTYL_3KEY_4x5_LEFT
	def_bool $(shields_list_contains,k33b_dactyl_3key_4x5_left)

config SHIELD_K33B_DACTYL_3KEY_4x5_RIGHT
	def_bool $(shields_list_contains,k33b_dactyl_3key_4x5_right) 
